aside{
    width: calc(12.5% + 10px);
    height: 855px;
    overflow-y: scroll;
    background-color: var(--WhColor);
    
}
aside::-webkit-scrollbar {
    width: 10px;
    
}
aside:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.205);
}
aside::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    
}
aside::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.305);
    
}
    

.aside_SignIn{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 120px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
.aside_SignIn_Container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left:30px;
}
.SignIn_paragraph{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
    color:var(--bordColor)
}
.aside_SignIn_Container{
    width: 180px;
}
.SignIn_element{
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.SignIn_element:hover{
    background-color:var(--hovSing)

}
.SignIn_element a{
    text-decoration: none;
    color:#065FD4;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 14px;
}
.mok1{
    height: 145px;
}
.mok2{
    height: 105px;
}
/* Блок на кого подписан профиль */
.aside_SignIn .block_list_Sing_int{
    width: 90%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(255, 255, 255);
    display: none;
}
.aside_SignIn .block_list_Sing_int .subscription_1{
    display: flex;
}
.aside_SignIn .block_list_Sing_int .img_1,.img_2,.img_3,.img_4,.img_5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}
/* Конец */

@media (max-width:1680px){
    .SignIn_paragraph{
        font-size: 12px;
    }
    .SignIn_element a {
        font-size: 13px;
    }
    .SignIn_element svg{
        width: 18px;
        height: 18px;
    }
}