aside{
    position: fixed;
    width: 250px;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--WhColor);
    overflow-x: hidden;
    left: 0;
    top:50px;
    z-index: 999;
    
}
aside::-webkit-scrollbar {
    width: 10px;
    
}
aside:hover::-webkit-scrollbar-thumb {
    background-color:var(--hovColor)
}
aside::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
aside::-webkit-scrollbar-thumb:hover{
    background-color: var(--hovSing)
    
}
aside.hidden {
    transform: translateX(-100%); /* Скрыто за экраном */
}
    

.aside_SignIn{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 120px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
.aside_SignIn_Container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
}
.SignIn_paragraph{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 14px;
    color:var(--bordColor)
}
.aside_SignIn_Container{
    width: 180px;
}
.SignIn_element{
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.SignIn_element:hover{
    background-color:var(--hovSing)

}
.SignIn_element a{
    text-decoration: none;
    color:#065FD4;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 14px;
}
.mok1{
    height: 145px;
}
.mok2{
    height: 105px;
}
/* Блок на кого подписан профиль */
.aside_SignIn .block_list_Sing_int{
    width: 90%;
    
    padding-left: 20px;
    gap: 20px;
    
  

}
.block_list_sing_int_subscription{
    gap: 10px;

}

.block_list_sing_int_subscription_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.block_list_sing_int_subscription_title{
    color: var(--bordColor);
    font-family: "Roboto", "Arial", sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 130px;
}
.aside_SignIn_buttonMore_text{
    padding-left: 10px;
}
.aside_SignIn_buttonMore{
    width: 100%;
    padding-left: 40px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Roboto", "Arial", sans-serif;
}

.aside_SignIn_buttonMore_text{
    color: var(--bordColor);
}
/* Конец */
aside.positionFixed{
    z-index: 999;
    top:55px;
}

aside.wow .Explore_element_menu li a {
    flex-direction: row;
}
aside.wow{
    width: 230px;
}
aside.wow .SignIn_paragraph{
    display: block;
}
aside.wow .Sign_In_button{
    display: block;
}
aside.wow .aside_SignIn {
    display: block;
}
aside.wow .menu_Explore.down {
    display: block;
}

@media (max-width:1200px) {
    .Explore_element_menu li a {
        flex-direction: column;
    }
    aside{
        width: 100px;
    }
    .explore_Container{
        padding: 10px;
    }
    .SignIn_paragraph{
        display: none;
    }
    .Sign_In_button{
        display: none;
    }
    .aside_SignIn {
        height: 50px;
        display: none;
    }
    .SignIn_element{
        width: 35px;
        height: 23px;
    }
}
@media (max-width:720px) {
    aside{
        display: none;
    }
}