.grid{
    display: grid;
}
.gridTC5{
    grid-template-columns: repeat(5, 1fr);
}
.gridTC4{
    grid-template-columns: repeat(4, 1fr);
}
.gridTC3{
    grid-template-columns: repeat(3, 1fr);
}
.gridTC2{
    grid-template-columns: repeat(2, 1fr);
}