.grid{
    display: grid;
}
.gridTC5{
    grid-template-columns: repeat(5, 1fr);
}
.gridTC4{
    grid-template-columns: repeat(4, 1fr);
}
.gridTC3{
    grid-template-columns: repeat(3, 1fr);
}
.gridTC2{
    grid-template-columns: repeat(2, 1fr);
}
.gap10{
    gap: 10px !important;;
}
.gap15{
    gap:15px;
}
.Container-video-gaming {
    display: grid;
    grid-template-columns: repeat(6,1fr);
}