main{
    width: 87.5%;
    --bgcolorTransperent:#0000000e;
    --bgColorTransperentHover:#00000017;
    background-color: var(--WhColor);
}
ol, ul{
    list-style-type: none;
}
.Main_container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 80px;
}
.Main_container_video{
    width: 95%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
.Main_container_preview{
    max-height: 80%;
    width: 100%;
    position: relative;
}
.Main_container_video_preview{
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
}
.Main_container_video_info {
    height: 25%;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.Main_container_video_info_logo{
    width: 12%;
    
}
.time{
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 5px;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif
}
.Main_container_video_info_logo img {
    border-radius: 50%;
    
    margin-top: 10px;
    width: 100%;
    height: 45%;
}
.Main_container_video_title{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.Main_container_video_title_paragraph{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color:var(--bordColor)
}
.Main_container_video_title_info{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color:var(--bordColor);
    opacity: 0.5;
}
.date{
    position: relative;
    margin-left: 10px;
}
.date:before{
    content: '•';
    position: absolute;
    top: -3px;
    left: -10px;
    font-size: 20px;
}
iframe{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
.Main_container_blockInfo{
    height: 30%;
    width: 80%;
    font-family: "Roboto", "Arial", sans-serif;
    padding-top: 20px;
    
}
.Main_container_blockInfo h1{
    font-size: 23px;
    color:var(--bordColor)
}
.Main_container_blockInfo_statistic{
    width: 100%;
    height: 25%;
    display: flex;
    margin-top: 10px;
}
.Main_container_blockInfo_statistic_leftSide, .Main_container_blockInfo_statistic_rightSide{
    width: 50%;
    display: flex;
}
.Main_container_blockInfo_statistic_rightSide{
    gap:20px;
    justify-content: center;
}
.Main_container_blockInfo_statistic_leftSide{
    gap: 10px;
}
.leftSide_img{
    width: 6%;
    height: 100%;
    height: 100%;
}
.leftSide_img img{
    width: 100%;
    border-radius: 50%;
    height: 53%;
}
.leftSide_title{
    width: 40%;
    height: 100%;
}
.leftSide_title div{
    width: 100%;
    
}
.leftSide_title_nameAccount{
    font-weight: 500;
    font-size: 17px;
    height: 35%;
    color:var(--bordColor)
}
.leftSide_title_subscribe{
    font-weight: 300;
    font-size: 12px;
    height: 50%;
    color:var(--bordColor)
}
.leftSide_subscribe_button{
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
.leftSide_subscribe_button button{
    padding: 10px 15px 10px 15px;
    background-color: var(--bordColor);
    color:var(--WhColor);
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: "Roboto", "Arial", sans-serif;
    cursor: pointer;
}
.leftSide_subscribe_button button:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.rightSide_emotion{
    width: 20%;
    display: flex;
    
}
.rightSide_emotion_like, .rightSide_emotion_dislike{
    
    height: 50%;
    background-color: var(--bgcolorTransperent)
    
}
.rightSide_emotion_like{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    width: 60%;
    gap: 10px; 
}
.rightSide_emotion_like:hover, .rightSide_emotion_dislike:hover, .rightSide_share:hover, .rightSide_threeDots:hover {
    background-color: var(--bgColorTransperentHover);
    cursor: pointer;
}
.rightSide_emotion_like svg{
    width: 20px;
}
.rightSide_emotion_like_count{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    color:var(--bordColor);
}
.rightSide_emotion_dislike{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide_emotion_dislike svg{
    width: 20px;
    margin-right: 5px;
    margin-top: 1px;
}
.rightSide_share{
    width: 28%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--bgcolorTransperent);
    border-radius: 20px;
}
.rightSide_share svg{
    height: 80%;
}
.rightSide_share div{
    color:var(--bordColor)
}
.rightSide_threeDots{
    width: 6%;
    height: 50%;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--bgcolorTransperent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide_threeDots svg{
    width: 50%;
}
.block{
    display: block;
}

@media (max-width:1900px){
    .Main_container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width:1575px){
    .Main_container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1200px){
    .Main_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:760px){
    .Main_container{
        grid-template-columns: repeat(1, 1fr);
    }
}
