main{
    width: 87.5%;
}
.Main_container{
    height: 100%;
    width: 100%;
    display: grid;
}
.Main_container_video{
    height: 274px;
    width: 30%;
}
.Main_container_video_preview{
    height: 70%;
    border-radius: 20px;
}
.Main_container_video_info{
    height: 30%;
    display: flex;
    gap:10px;
    margin-top: 10px;
}
.Main_container_video_info_logo{
    width: 10%;
}
.Main_container_video_info_logo img{
    border-radius: 40px;
    height: 36px;
    margin-top: 10px;
}
.Main_container_video_title{
    width: 80%;
}
.Main_container_video_title_paragraph{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 500;
}
.Main_container_video_title_info{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    color:#606060
}
